.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
}

.logo{
    display: inline-block;
    width: 8em;
}

.logo:hover{
    cursor: pointer;
}

.logo a{
    color: #edf0f1;
    text-decoration: none;
}

.logoImage{
    width: 4em;
}

.logoText{
    width: 2em;
    font-weight: 900;
    float: right;
}